<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RomlandTube</title>

    <!--Import of CSS-->
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" id="customCSS" />

    <!--Import of Local JavaScript-->
    <script src="/js/global.js"></script>
    <script src="/js/index.js"></script>
    
  </head>
  <body onload="onLoad()">
    <%- include ("partials/header.ejs") %>
    <% for(var i=0; i < videos.length; i++) { %>
      <div>
          <a href="<%=videos[i].link%>"><%=videos[i].name%></a>
          <p><%=videos[i].desc%></p>
      </div>
   <% } %>
  </body>
</html>
