<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RomlandTube</title>

    <!--Import of CSS-->
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" id="customCSS" />

    <!--Import of Local JavaScript-->
    <script src="/js/global.js"></script>
    <script src="/js/index.js"></script>

    <script>
      async function search() {
        window.location = "/?search=" + document.getElementById("searchBar").value;
      }
    </script>
    
  </head>
  <body onload="onLoad()">
    <%- include ("partials/header.ejs") %>
    <form onsubmit="search(); return false;"> 
      <input id="searchBar" type="text">
    </form>
    <div id="videos">
    <% for(var i=0; i < videos.length; i++) { %>
      <div class="video">
        <a href="/view?id=<%=eescape(videos[i]._id)%>">
          <img loading="lazy" src="<%- eescape("/images/" + videos[i].thumbLink.substring(7)) + "?size=500"%>" width="500"/><br>
          <p><%- eescape(videos[i].name)%></p>
      </a>
      </div>
   <% } %>
  </div>
  </body>
</html>
