<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RomlandTube</title>

    <!--Import of CSS-->
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" id="customCSS" />

    <!--Import of Local JavaScript-->
    <script src="/js/global.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body onload="onLoad()">
    <header>
    <h1>RomlandTube - Streaming, Made Cool!</h1>
    <%if (loggedIn) { %>
    <p>Logged in as: <%- eescape(name) %></p>
    <a href="/upload">Upload</a>
    <a href="/logout">Log Out</a>
    <% } else{ %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <% } %></header>
    <br /><br />
    <label for="theme">Theme:</label>
    <select onchange="clickedSubmit()" name="theme" id="themes">
      <option value="dark">Dark</option>
      <option value="light">Light</option>
      <option value="opel">Blue</option>
      <option value="nisse">Nisse</option>
    </select>
  </body>
</html>
