<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - RomlandTube</title>
    <!--IMPORT OF CSS-->
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/register.css" />

    <!--IMPORT OF Crypto-JS used for the hashing and salting of password-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>

    <!--Import of Local JavaScript-->
    <script src="/js/global.js"></script>
    <script src="/js/login.js"></script>
  </head>
  <body onload="onLoad()">
    <%- include ("partials/header.ejs") %>
    <form onsubmit="loginUser();return false;">
      <input type="text" placeholder="username" id="username" name="username" />
      <input
        type="password"
        placeholder="password"
        id="password"
        name="password"
      />
      <p id="errorText"><br /></p>
      <input type="submit" value="Log In" />
    </form>
    <p>By logging in you agree that RomlandTube (https://tube.romland.space/) store cookies!</p>
  </body>
</html>
