body{
    background-color: rgb(34, 34, 34);
    background-image: linear-gradient(red, yellow);
}

*{
    color: rgb(255, 255, 255);
}

*::after {
    content: " - Streaming, made cool!";
}
option{
    color: black;
}